<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <title>Account Page</title>
</head>
<body>
<h1>Личный кабинет</h1>
<h3>Главная <a th:href="@{/}">страница</a></h3>
<h3>Новый <a th:href="@{/order}">заказ</a></h3>
<h1>Список моих заказов:</h1>
<div th:each="order: ${orders}">
    <h4>Заказ: <a th:href="@{/order/edit/{id}(id=${order.orderId})}" th:text="${order.orderId}"></a></h4>
    <form th:action="@{/order/delete}" method="post">
        <input name="orderId" th:value="${order.orderId}" type="hidden">
        <input type="submit" value="Удалить">
    </form>
</div>
</body>
</html>