<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <title>Order Page</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/order.css}" rel="stylesheet" />
</head>
<body>
<input th:value="${id}" id="orderId" type="hidden"/>
<input th:value="${links}" id="links" type="hidden"/>
<div><span>order id: </span><span th:text="${id}"></span></div>
<table>
    <tr>
        <td><span>ссылка на объявление</span></td>
        <td><span>количество пф в день</span></td>
        <td><span>дата начала</span></td>
        <td><span>дата конца</span></td>
        <td><span>стоимость в день</span></td>
        <td><span>стоимость за промежуток</span></td>
        <td><span>убрать объявление</span></td>
    </tr>
    <tr th:each="link : ${links}" class="link">
        <td><label><input placeholder="ссылка" type="text" th:value="${link.link}" required></label></td>
        <td><label><input type="number" th:value="${link.pfCount}" required></label></td>
        <td><label><input type="date" th:value="${link.startDate}" required></label></td>
        <td><label><input type="date" th:value="${link.endDate}" required></label></td>
        <td><label><input type="number" readonly></label></td>
        <td><label><input type="number" readonly></label></td>
        <td><button>убрать объявление</button></td>
    </tr>
    <tr class="summary">
        <td></td>
        <td></td>
        <td></td>
        <td><span>итого</span></td>
        <td><label><input type="number" value="0" readonly></label></td>
        <td><label><input type="number" value="0" readonly></label></td>
        <td></td>
    </tr>
</table>
<div>
    <div><button class="addLink">добавить объявление</button></div>
    <div><button>сохранить</button></div>
</div>
</body>
<script>
    // Возвращает количество дней между first и second включая оба дня
    function dateDiff(first, second) {
        return Math.round((new Date(second).getTime() - new Date(first).getTime()) / (1000 * 60 * 60 * 24) + 1);
    }

    // Обновляет значения автоопределяемых полей
    function updateCosts (){
        var links = document.querySelectorAll("tr.link");
        var sumPerDay = 0;
        var sumPerPeriod = 0;

        links.forEach(link => {
            var pfCount = link.children[1].children[0].children[0];
            var startDate = link.children[2].children[0].children[0];
            var endDate = link.children[3].children[0].children[0];
            var costPerDay = link.children[4].children[0].children[0];
            var costPerPeriod = link.children[5].children[0].children[0];

            costPerDay.value = pfCount.value * 4;
            costPerPeriod.value = dateDiff(startDate.value, endDate.value) * costPerDay.value;

            sumPerDay += Number(costPerDay.value);
            sumPerPeriod += Number(costPerPeriod.value);
        });

        var summary = document.querySelector("tr.summary");
        var costPerDay = summary.children[4].children[0].children[0];
        var costPerPeriod = summary.children[5].children[0].children[0];

        costPerDay.value = sumPerDay;
        costPerPeriod.value = sumPerPeriod;
    }

    // устанавливает листенеры изменения количества ПФ, дат и кнопок удаления
    function setTableUpdateListeners() {
        var links = document.querySelectorAll("tr.link");
        links.forEach(link => {
            var pfCount = link.children[1].children[0].children[0];
            var startDate = link.children[2].children[0].children[0];
            var endDate = link.children[3].children[0].children[0];
            var button = link.children[6].children[0];

            pfCount.addEventListener("change", updateCosts);
            startDate.addEventListener("change", updateCosts);
            endDate.addEventListener("change", updateCosts);

            button.addEventListener('click', function (event) {
                link.remove();
                updateCosts();
            });
        });
    }

    // устанавливает листенер добавления ссылки
    function setButtonsUpdateListeners() {
        const button = document.querySelector('button.addLink');
        button.addEventListener('click', function (event) {

            var table = document.querySelector("tbody");
            var summary = document.querySelector("tr.summary");

            var currentDate = new Date().toLocaleDateString('en-CA');
            var tr = document.createElement('tr');
            tr.className = "link";
            tr.innerHTML = `
                    <td><label><input placeholder="ссылка" type="text" value="" required></label></td>
                    <td><label><input type="number" value="1" required></label></td>
                    <td><label><input type="date" value="${currentDate}" required></label></td>
                    <td><label><input type="date" value="${currentDate}" required></label></td>
                    <td><label><input type="number" readonly></label></td>
                    <td><label><input type="number" readonly></label></td>
                    <td><button>убрать объявление</button></td>
                `;
            table.insertBefore(tr, summary);
            updateCosts();
            setTableUpdateListeners();
        });
    }

    updateCosts();
    setTableUpdateListeners();
    setButtonsUpdateListeners();
</script>
</html>