<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <title>Registration Page</title>
</head>
<body>
<h1>Страница Регистрации</h1>
<form th:action="@{/registration}" method="post">
    <div><label><input type="text" name="username" placeholder="Username"/></label></div>
    <div><label><input type="password" name="password" placeholder="Password"/></label></div>
    <input type="submit" value="Зарегистрироваться"/>
</form>
<h3><a th:href="@{/login}">Войти</a></h3>
</body>
</html>