<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <title>AviUp</title>
    <meta charset="UTF-8">
    <link th:href="@{/static/img/favicon.ico}" rel="icon" type="image/ico">
    <link th:href="@{/static/css/main.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div><h3>Домашняя страница</h3></div>
<div sec:authorize="isAnonymous()"><h3>Авторизуйтесь для получения полного функционала сервиса <a th:href="@{/login}">(тык)</a></h3></div>
<div sec:authorize="hasAuthority('ADMIN')"><h3>Открыть <a th:href="@{/admin}">админскую страницу</a></h3></div>
<div sec:authorize="hasAuthority('USER')"><h3>Вы авторизованы <a th:href="@{/profile}">(личный кабинет)</a></h3></div>
</body>
</html>